<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h6 class="display-3">404</h6>
    <p class="secret-text"> User not found</p>
    <hr>
  </div>
</div>

<%- include('partials/footer') %>